template(name="index")
    header
        h2.ui.header
            div.content 活动列表
            div.ui.divider
    div.activity-list.ui.segment
        h3.ui.header 最近发布的活动
        each images
            img(src="{{this.url}}")
        each activities
            +activityItem