#activity-detail-title {
	background-color: #00B5AD;
	color: #fff;
	padding: 0.75rem 1rem;
	border-radius: 5px;

}
#activity-detail-edit-button {
	margin: 20px 0 30px 0;
}
#activity-detail-sponsor-info {
	width: 100%;
}
#activity-detail-follow, #activity-detail-select, #activity-detail-comment {
	margin: 20px 0 20px 0;
}
.checked #three{
	background: url("./check.png") no-repeat right;
	background-size: 20px 20px;
}
.hidden {
	visibility: hidden;
}