.activity-cover {
	display: inline-block;
}

.activity-info {
	display: inline-block;
	float: right;
}

.activity-name {
	display: inline-block;
}

.info-block {
	display: inline-block;
	margin-right: 5%;
}

.next-button {
	text-align: center;
	margin-top: 20px;
}

.activity-detail {
	margin-bottom: 10px;
}