body {
	background: #fff;
}

#layoutMain {
	width: 90%;
	margin: 1% auto 5%;
}

#userAvatar {
	border-radius: 50%;
	box-shadow: 5px 2px 10px #000;
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
	display: block;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
}

#sidebar {
/* 	border: 3px solid #428bca;
border-radius: 6px; */
}

.sidebarBlock {
	margin-bottom: 20px;
}

.apptitle {
	background: url("/images/logo.jpg") no-repeat;
	background-size: 100px 36px;
	background-position: 50px 0px;
	height:36px;
	/* border: 1px solid #000; */
	margin: 20px auto 10px;

	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
}

.apptitle:hover {
	background-position: 60px 0px;
}

.introduction_pic {
	background-image: url("/images/introduction.jpg");
	/* background-size: 480px 300px; */
	background-repeat: no-repeat;
	background-position: right 68px;
	height: 400px;
}

.introduction_txt {
	width: 80%;
}

span {
	float: right;
}

/* .introduction_txt .header {
	text-shadow: 1px 1px 1px gray;
} */

#login_main {
	width: 100%;
	margin: 50px auto;
	/* box-shadow: 5px 5px 5px gray; */
	/* border: 2px solid #000; */
}

/* .login_footer {
	width: 100%;
	position: absolute;
	bottom: 0px;
} */
.border_test_div {
	border: 2px solid #000;
}

/* .login_footer {
	position: fixed;
	bottom: 0px;
	left: 0;
	right: 0;
	height: 50px;
}

.footer_ul li {
	display: inline;
	list-style: none;
	margin: 5px;
}

.footer_ul li a {
	color: #FFF;
}

.footer_ul li a:hover {
	color: #000;
}
 */

/*  .revealmes {
	float: right;
	width: 30%;
	height: 36px;
} */
