.login {
	width: 80%;
	margin: 0 auto;
}

/* .login-log {
	position: absolute;
	top: 30%;
	left: 30%;
} */

/* .login-register {
	position: absolute;
	top: 6%;
	left: 30%;
} */

.login-user, .login-password, .login-mail, .login-tel, .login-sexual, .login-qq, .login-name {
	position: relative;
}

.login i {
	position: absolute;
	top: 11px;
	left: 10px;
}

.login .ui .field input {
	padding-left: 30px;
}

.login .login-log .ui .hidden {
	display: none;
}

.login-register .ui .field .login-sexual select {
	padding-left: 25px;
}

.login-register .show-avatar-field {
	position: relative;
}

.login-register .show-avatar {
	width: 36px;
	height: 36px;
	position: absolute;
	top: 24px;
	left: 5px;
	z-index: 2;
}

.login-register .show-avatar-field .ui input[name='avatar'] {
	padding-left: 60px;
	width: 100%;
}

.login-register .show-avatar-field .show-avatar img {
	width: 37px;
	height: 37px;
	border: none;
	border-radius: 19px;
	
}