template(name="layout")
	html(lang='en')
		head
			meta(charset='UTF-8')
			title Seek
		body
			if isLoginRegister
				#layoutMain
					#topMenu
						.ui.blue.large.menu
							if userinformation
								.left.menu
									a.header.item.home-btn SEEK(APP Name)
										.ui.red.horizontal.label 欢迎
								.right.menu
									a.item.home-btn#homeMenuItem
										i.home.icon
										|	主页
									a.item.profile-btn#centerMenuItem
										i.user.icon
										|	个人中心
									a.item
										.ui.right.labeled.icon.negative.button.logout-btn
											i.sign.out.icon
											|               登出
							else
								.left.menu
									a.header.item.home-btn SEEK(App Name)
										.ui.green.horizontal.label 欢迎
								.right.menu
									a.item
										.ui.right.labeled.icon.positive.button.login-btn
											i.sign.in.icon
											|               登录
					.ui.divider
					.ui.two.column.grid
						.four.wide.column
							.ui.horizontal.segment
								#sidebar

									.sidebarBlock
										.ui.fluid.blue.label 个人信息
										.ui.center.aligned.basic.segment
											each userinformation
												img.ui.centered.image#userAvatar(src='{{this.url}}', alt="avatar")
											
											a.ui.header.profile-btn {{currentUserNickName}}

									.sidebarBlock
										.ui.fluid.blue.label 选项
										.ui.selection.list
											a.item.home-btn
												i.search.icon
												.content
													.header	我要参与活动
											a.item.createActivity-btn
												i.flag.icon
												.content
													.header	我要发布活动
											a.item.changeProfile-btn
												i.setting.icon
												.content
													.header	修改个人资料

									.sidebarBlock
										.ui.fluid.blue.label 活动分类
										.ui.selection.list
											.item
												i.food.icon
												.content
													.header 餐饮
											.item
												i.sun.icon
												.content
													.header 运动
											.item
												i.book.icon
												.content
													.header 学习
											.item
												i.film.icon
												.content
													.header 电影
											.item
												i.shop.icon
												.content
													.header 逛街
											.item
												i.game.icon
												.content
													.header 开黑
											.item
												i.tasks.icon
												.content
													.header 其他
						.twelve.wide.column
							+yield
					.ui.divider
					#footer
						.ui.blue.center.aligned.segment
							h3 这是网站尾部
			else
				if isLogin
					+login
				else
					+register