template(name="layout")
	html(lang='en')
		head
			meta(charset='UTF-8')
			title Seek
		body
			if isLoginRegister
				#layoutMain
					#topMenu
						.ui.blue.large.menu
							if userinformation
								.left.menu
									a.header.item.home-btn SEEK
										.ui.red.horizontal.label 欢迎
								.right.menu
									a.item.home-btn.active.homeMenuItem
										i.home.icon
										|	主页
									a.item.profile-btn.centerMenuItem
										i.user.icon
										|	个人中心
									a.item
										.ui.right.labeled.icon.negative.button.logout-btn
											i.sign.out.icon
											|               登出
							else
								.left.menu
									a.header.item.home-btn SEEK
										.ui.green.horizontal.label 欢迎
								.right.menu
									a.item
										.ui.right.labeled.icon.positive.button.login-btn
											i.sign.in.icon
											|               登录
					.ui.divider
					.ui.two.column.grid
						.four.wide.column
							.ui.horizontal.segment
								#sidebar
									if userinformation
										.sidebarBlock
											.ui.fluid.blue.label 个人信息
											.ui.center.aligned.basic.segment
												each userinformation
													img.ui.centered.image#userAvatar(src='{{this.url}}', alt="avatar")
												
												a.ui.header.profile-btn {{currentUserNickName}}

										.sidebarBlock
											.ui.fluid.blue.label 选项
											.ui.selection.list
												a.item.home-btn
													i.search.icon
													.content
														.header 我要参与活动
												a.item.createActivity-btn
													i.flag.icon
													.content
														.header 我要发布活动
												a.item.changeProfile-btn
													i.setting.icon
													.content
														.header 修改个人资料

									.sidebarBlock
										.ui.fluid.blue.label 活动分类
										.ui.selection.list
											.item
												i.food.icon
												.content
													a(href="/")
														.header 全部
											.item
												i.food.icon
												.content
													a(href="/type/0")
														.header 餐饮
											.item
												i.sun.icon
												.content
													a(href="/type/1")
														.header 运动
											.item
												i.book.icon
												.content
													a(href="/type/2")
														.header 学习
											.item
												i.film.icon
												.content
													a(href="/type/3")
														.header 电影
											.item
												i.shop.icon
												.content
													a(href="/type/4")
														.header 逛街
											.item
												i.game.icon
												.content
													a(href="/type/5")
														.header 开黑
											.item
												i.tasks.icon
												.content
													a(href="/type/6")
														.header 其他
						.twelve.wide.column
							+yield
					.ui.divider
					.layout_footer
						.ui.center.aligned.blue.segment
							.ui.horizontal.list
								a.item(href="") 欢迎页面
								a.item(href="") 关于我们
								a.item(href="") 问题反馈 (不可用)
							br
							|	Copyright &copy; SYSU SS SPI Group 5
							br
							|	2015 05/06

			else
				.ui.inverted.teal.segment
				.apptitle
					//- img(src="/images/logo.jpg")
					//- .ui.move.up.reveal.revealmes.border_test_div
					//- 	.visible.content Hello
					//- 	.hidden.content 加入SEEK

				.ui.divider
				#login_main
					.ui.centered.two.column.grid
						.six.wide.column
							.introductiondiv
								.introduction_pic
									.introduction_txt
										.ui.header SEEK 
											.sub.header 一款专注线下的web社交平台
										.ui.header SEEK 语丝
										.ui.list
											a.item
												i.leaf.icon
												.content
													| 我本是个不安分的小孩，有时还爱异想天开，一心要在生活中寻找某种不同寻常的夺目光彩。
													br
													span —— 《钢铁是怎样炼成的》
											a.item
												i.leaf.icon
												.content
													| 我在冰峰的深海，寻找希望的缺口，却在惊醒时，瞥见绝美的阳光！
													br
													span —— 几米
											a.item
												i.leaf.icon
												.content
													| ...
										//- .ui.header 而你又在SEEK什么？ 
										//- 	.sub.header	加入SEEK，重新认识生活
						
						.six.wide.center.aligned.column
							if isLogin
								.ui.header 登录
								+login
							else
								.ui.header 注册
								+register
				.ui.inverted.teal.segment
				//- .login_footer
				//- 	.ui.center.aligned.inverted.teal.segment
				//- 		ul.footer_ul
				//- 			li
				//- 				a(href="") 关于我们
				//- 			li
				//- 				a(href="") 欢迎页面
				//- 			li
				//- 				a(href="") 帮助中心


