template(name="main")
    head
        title YUE Application
    body
        div.main-container
            header#sidebar
                nav
                    button(type="button") 首页
                    button(type="button") 发布活动
                div#type
                    header 活动类别
                    div#left
                        a(src="") 体育活动
                        br
                        a(src="") 娱乐
                    div#right
                        a(src="") 学习讨论
                        br
                        a(src="") 出游
            div#main
                header
                    div
<<<<<<< HEAD
                        a(src="")个人中心
=======
                        a(src="") 个人中心
                    +loginButtons
>>>>>>> 4fb99323fe06403da627374001d3b6419e90d8b5
                div#content
                    +yield
                    
            

