<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create Your Activity</title>
	<link rel="stylesheet" href="../../../public/semantic UI/dist/semantic.min.css">
	<link rel="stylesheet" href="./createActivity.css">
</head>

<body>
	<div id="createActivityMain">
		<div id="topMenu">
			<div class="ui blue right aligned segment">
				<div class="ui horizontal list">
					<div class="item">
						<div class="ui labeled icon primary button">
							<i class="user large icon"></i>
							Personal Center
						</div>
					</div>
					<div class="item">
						<img src="http://p3.qqgexing.com/touxiang/20120731/1220/50175d1de3b66.jpg" alt="avatar" class="ui avatar 	image">
					</div>
					<div class="item">
						<div class="ui right labeled icon negative button">
							<i class="sign out large icon"></i>
							Sign Out
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui hidden divider"></div>
		<div class="ui two column grid">
			<div class="four wide column">
				<div class="ui horizontal segment">
					<div id="sidebar">
						
						<div id="blockAbove">
							<div class="ui fluid huge label">Option</div>
							<div class="ui list">
								<div class="item">
									<div class="ui labeled icon primary fluid button">
										<i class="home large icon"></i>
										Home
									</div>
								</div>
								<div class="item">
									<div class="ui labeled icon primary fluid button">
										<i class="add square large icon"></i>
										Create Activity
									</div>
								</div>
							</div>
						</div>
						<div class="ui horizontal section divider">divider</div>
						<div id="blockBottom">
							<div class="ui fluid huge label">Activity Category</div>
							<div class="ui selection list">
							  <div class="item">
							  	<i class="tasks icon"></i>
							    <div class="content">
							      <div class="header">Dinner</div>
							    </div>
							  </div>
							  <div class="item">
							  	<i class="tasks icon"></i>
							    <div class="content">
							      <div class="header">Sports</div>
							    </div>
							  </div>
							  <div class="item">
							  	<i class="tasks icon"></i>
							    <div class="content">
							      <div class="header">Music</div>
							    </div>
							  </div>
							  <div class="item">
							  	<i class="tasks icon"></i>
							    <div class="content">
							      <div class="header">...</div>
							    </div>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="twelve wide column">
				<div class="ui horizontal segment">
					<div id="mainPageContent">
						<div id="pageContentTitle">
							<h2 class="ui header">
								<i class="add square icon"></i>
								<div class="content">Create Your Activity</div>
							</h2>
						</div>
						<div class="ui divider"></div>
						<div id="pageContentBody">
							<div class="ui segment">
								<a class="ui blue right ribbon label">Create Activity</a>
								<div class="ui vertical segment">
									<h3 class="ui header">
										<div class="content">Activity Name</div>
									</h3>
									<div class="ui left icon input">
										<input type="text" placeholder="Activity Name">
										<i class="user icon"></i>
									</div>
								</div>
			
								<div class="ui vertical segment">
									<h3 class="ui header">
										<div class="content">People Number</div>
									</h3>
									<div class="ui left icon input">
										<input type="text" placeholder="People Number">
										<i class="user icon"></i>
									</div>
								</div>
		
								<div class="ui vertical segment">
									<h3 class="ui header">
										<div class="content">Activity Place</div>
									</h3>
									<div class="ui left icon input">
										<input type="text" placeholder="Activity Place">
										<i class="user icon"></i>
									</div>
								</div>
		
								<div class="ui vertical segment">
									<h3 class="ui header">
										<div class="content">Deadeline</div>
									</h3>
									<div class="ui left icon input">
										<input type="text" placeholder="Deadeline">
										<i class="user icon"></i>
									</div>
								</div>

								<div class="ui vertical segment">
									<h3 class="ui header">
										<div class="content">Public Your Contact Information?</div>
									</h3>
									<div class="ui form">
  									<div class="inline fields">
  									  <div class="field">
  									    <div class="ui radio checkbox">
  									      <input type="radio" name="fruit">
  									      <label>Yes</label>
  									    </div>
  									  </div>
  									  <div class="field">
  									    <div class="ui radio checkbox">
  									      <input type="radio" name="fruit" checked="">
  									      <label>Not Now</label>
  									    </div>
  									  </div>
  									</div>
									</div>
								</div>

								<div class="ui vertical segment">
									<h3 class="ui header">
										<div class="content">Activity Description</div>
									</h3>
									<div class="ui form">
  										<div class="field">
  										  <textarea></textarea>
  										</div>
									</div>
								</div>

								<div class="ui vertical right aligned basic segment">
									<div class="positive ui button">Submit</div>
									<div class="negative ui button">Cancel</div>
								</div>
			
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui hidden divider"></div>
		<div id="footer">
			<div class="ui blue center aligned segment">
				<h3>And This Is The Footer.</h3>
			</div>
		</div>
	</div>
</body>
</html>
  
