template(name="profile")
	header
		h2.ui.header
			div.content 个人活动列表
			div.ui.divider
	section.ui.three.cards
		each activities
			div.card
				div.image
					img(src="#")
				div.content
					div.header 一起跑吧！
					div.meta 2015-6-1 19：00
					div.meta
						span 热度:
							span 100人
						span 发起人:
							span
								某人
				div.extra.content
					div.ui.right.floated.primary.button
						评论
					
